{% extends "base.html" %}
{% block content %}
     
<span class="{{content_color_class}} is-size-5 has-text-weight-semibold">{{askama::filters::MaybeSafe::Safe(task.content)}}</span>
{% if !task.description.is_empty() %}
  <p class="is-size-6"> {{askama::filters::MaybeSafe::Safe(task.description)}} </p>
{% endif %}

{% if task.due.is_some() %}
<p>
  <span class="icon">
    <i class="fas fa-clock"></i>
  </span>
  {{task.due.clone().unwrap().date}}
{% endif %}
{% if !task.labels.is_empty() %}
    {% for label in task.labels %} <span class="tag">{{label}}</span> {% endfor %}
{% endif %}
</p>
<div class="columns">
	<div class="column is-half">
    <form action="/process" method="GET" id="skipform">
      <input type="text" id="token" name="token" value={{token}} hidden>
      <input type="text" id="filter" name="filter" value="{{filter}}" hidden>
      <input type="text" id="skip_task_id" name="skip_task_id" value="{{task.id}}" hidden>
      <div class="has-text-right">
        <input type="submit" value="Skip" class="button is-secondary is-fullwidth">
      </div>
    </form>
  </div>
	<div class="column is-half">
    <form action="/process" method="GET" id="completeform">
      <input type="text" id="token" name="token" value={{token}} hidden>
      <input type="text" id="filter" name="filter" value="{{filter}}" hidden>
      <input type="text" id="complete_task_id" name="complete_task_id" value="{{task.id}}" hidden>
      <div class="has-text-right">
        <input type="submit" value="Complete" class="button is-primary is-fullwidth">
      </div>
    </form>
  </div>
</div>
{% endblock %}

